a {
    color: #000000;
    text-decoration: none;
}

header {
    background: #FF0000;
    width: 100%;
    height: 80px;
    display: inline-flex;

    .brand {
        display: flex;
        align-items: center;
        height: 100%;
        width: 10%;

        .image {
            img {
                width: 100px;
            }
        }

        .text {
            a {
                font-size: 2em;

                span {
                    color: #FFFFFF;
                }
            }
        }
    }

    nav {
        height: 100%;
        ul {
            height: 100%;
            display: flex;
            li {
                height: 100%;
                margin: 0 5px;
                list-style-type: none;
                a {
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 45px 5px;
                    
                    &:hover {
                        background-color: yellow;
                        color: #000000;
                    }
                }
            }
        }
    }
}