footer {
    width: 100%;
    background-color: red;
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    grid-template-columns: 2fr 2fr;
    justify-content: space-around;
    align-items: center;
    * {
        color: white !important;
    }
}